﻿    
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="~/Content/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="~/Content/styles/kendo.material.min.css" />
<link rel="stylesheet" href="~/Content/styles/kendo.default.mobile.min.css" />

<!-- <link rel="stylesheet" type="text/css" href="../Styles/kendo.bootstrap.min.css" /> -->
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/js/kendo.web.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/cultures/kendo.culture.es-CO.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/kendo.all.min.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" />

<meta charset="utf-8">
<title>Fullscreen Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- CSS -->

<link rel="stylesheet" href="~/Content/login/reset.css">
<link rel="stylesheet" href="~/Content/login/supersized.css">
<link rel="stylesheet" href="~/Content/login/style.css">

<style>
    .demo-section p {
        margin: 3px 0 20px;
        line-height: 50px;
    }

    .demo-section .k-button {
        width: 250px;
    }

    .k-notification {
        border: 0;
    }


    /* Info template */
    .k-notification-info.k-group {
        background: rgba(0%,0%,0%,.7);
        color: #fff;
    }

    .new-mail {
        width: 300px;
        height: 100px;
    }

        .new-mail h3 {
            font-size: 1em;
            padding: 32px 10px 5px;
        }

        .new-mail img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Error template */
    .k-notification-error.k-group {
        background: rgba(100%,0%,0%,.7);
        color: #ffffff;
    }

    .wrong-pass {
        width: 300px;
        height: 100px;
    }

        .wrong-pass h3 {
            font-size: 1em;
            padding: 32px 10px 5px;
        }

        .wrong-pass img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Success template */
    .k-notification-upload-success.k-group {
        background: rgba(0%,60%,0%,.7);
        color: #fff;
    }

    .upload-success {
        width: 240px;
        height: 100px;
        padding: 0 30px;
        line-height: 100px;
    }

        .upload-success h3 {
            font-size: 1.7em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
        }

        .upload-success img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
</style>

<div class="container">
<div class="row">
<div class="col-md-4">
    <div class="panel white-alpha-90">
        <div class="page-container">
            <h1>Login</h1>
            <form  action="" method="post">
             
                <input type="text" name="username" id="username" class="username" placeholder="Username">
               
               
                <input type="password" name="password" id="password" class="password" placeholder="Password">
                  
               
                <button type="submit" id="guardar">Sign me in</button>
                   
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
    </div>
    <span id="notification" style="display:none;"></span>
</div>
</div>
</div>
@*<table style="width: auto; border: 0; cellpadding: 0; cellspacing: 0">
    <tr>
        <td>
            <label for="fechaini" class="required">
                F. Inicial:</label>
            <input id="fechaini" name="fechaini" required="true" data-required-msg="Requerido"
                style="width: 110px;" />
        </td>
        <td>
            <label for="fechafin" class="required">
                F. Final:</label>
            <input id="fechafin" name="fechafin" required="true" data-required-msg="Requerido"
                style="width: 110px;" />
            <a id="buscarFechas" class="k-button" title="Click para Buscar por Fechas"><span class="k-icon k-i-search"></span></a>
        </td>
    </tr>
    <tr>
        <td>
            <span class="k-invalid-msg" data-for="fechaini"></span>
        </td>
        <td>
            <span class="k-invalid-msg" data-for="fechafin" />
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>*@

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="container wrong-pass">
        <img src="../../Content/img/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script type="text/javascript">
    var fini, ffin;


    var notification = $("#notification").kendoNotification({
        position: {
            pinned: true,
            top: 30,
            right: 30
        },
        autoHideAfter: 0,
        stacking: "down",
        templates: [{
            type: "error",
            template: $("#errorTemplate").html()
        }]

    }).data("kendoNotification");



    function errorMensaje() {
        notification.show({
            title: "Error",
            message: "Verifique Usuario y Contraseña"
        }, "error");
    }

    //$("#fechaini").kendoDatePicker({ format: "dd/MM/yyyy" });
    //$("#fechafin").kendoDatePicker({ format: "dd/MM/yyyy" });

    //ffin = new Date();
    //fini = new Date();
    //fini.setDate(ffin.getDate() - 7);
    //$("#fechaini").data("kendoDatePicker").value(kendo.toString(fini, 'dd/MM/yyyy'));
    //$("#fechafin").data("kendoDatePicker").value(kendo.toString(ffin, 'dd/MM/yyyy'));


    //Logica Para inicio de sesion
    $("#guardar").click(function (e) {
        e.preventDefault();       
         

        var url = '/api/values/Login';
                        
        var NewResultado = {};
        var person = new Object();
            console.log("Usuario "+ $("#username").val() + " PAS " + $("#password").val());
            person.userId = $("#username").val();
            person.name = "prueba";
            person.email = "dos";
            person.password = $("#password").val();

            // Create a data transfer object (DTO) with the proper structure.
           // var DTO = { 'Usuario': NewResultado };

            $.ajax({
                url: url,
                type: 'POST',
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(person),
                complete: function (jqXhr, textStatus) {
                    var data = jQuery.parseJSON(jqXhr.responseText);
                    if (textStatus == 'success') {
                        console.log("Data" + data);
                        if (data >= 0) {
                            resultado = data;
                            if (resultado == 1) {
                                //alert("Logueado Exitosamente");
                               //window.open = '../Inicio/Inicio.cshtml';
                               window.location.href = '../Inicio/Inicio';
                               
                            } else {
                                errorMensaje();
                                
                            }
                            console.log("Proceso Exitoso" + resultado);
                        } else {
                            console.log("Error interno");
                        }
                    } else if (textStatus == 'error') {
                        console.log("Error");
                    }
                   
                }

            });
    });

</script>

<script src="~/Scripts/login/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/login/supersized.3.2.7.min.js"></script>
<script src="~/Scripts/login/supersized-init.js"></script>
<script src="~/Scripts/login/scripts.js"></script>
