﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>asdasdadad</title>
    <p>asdsad</p>
</head>
<body>
    <div>

    </div>
</body>
</html>
