﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */





.panel-heading{
	border-bottom: 1px solid #aaa;
}


.panel{
	margin-bottom:0;
	box-shadow:0px 0px 5px 1px black;
	border-radius:20px;
}
.panel-body{
	padding-top:180px;
   
}
.panel-title{
	font-family: 'Open Sans Condensed', sans-serif;
}
.panel-title span{
	font-family: 'Roboto Slab', serif;
}


.white-alpha-90{
	/* Fallback for web browsers that don't support RGBa */
      
    background-color: white;
    /* RGBa with 0.6 opacity */
    background-color: rgba(256, 256, 256, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.black-alpha-90{
	/* Fallback for web browsers that don't support RGBa */
    background-color: black;
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


