﻿<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="~/Content/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="~/Content/styles/kendo.material.min.css" />
<link rel="stylesheet" href="~/Content/styles/kendo.default.mobile.min.css" />

<!-- <link href="~/Content/styles/kendo.default.min.css" rel="stylesheet" /> -->

<!-- <link rel="stylesheet" type="text/css" href="../Styles/kendo.bootstrap.min.css" /> -->
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/js/kendo.web.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/cultures/kendo.culture.es-CO.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/kendo.all.min.js"></script>



<style type="text/css">
body {
  background-image: url("../../Content/img/backgrounds/maptour.jpg");*/
}
.fondoDiv{
 background-color:brown;
}

.demo-section label {
            display: block;
            margin: 15px 0 5px 0;
        }
        #get {
            float: right;
            margin: 25px auto 0;
        }



#example2 {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .demo-section {
                    padding: 50px 70px;
                }

                .one-way {
                    background: url('../content/web/sortable/one-way.png') no-repeat 50% 50%;
                }

                .two-way {
                    background: url('../../Content/img//two-way.png') no-repeat 50% 50%;
                }

                .list-wrapper {
                    overflow: hidden;
                }

                #sortable-listA, #sortable-listB, #sortable-listC, #sortable-listD {
                    width: 210px;
                    min-height: 40px;
                    margin: 0;
                    padding: 0;
                    border: 1px solid #dddddd;
                    border-radius: 4px;
                }

                #sortable-listA, #sortable-listC {
                    float: left;
                }

                #sortable-listB, #sortable-listD {
                    float: right;
                }

                .list-item {
                    list-style-type: none;
                    width: 200px;
                    margin: 5px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #222222;
                    color: #ffffff;
                    border-radius: 3px;
                    cursor: move;
                }

                #sortable-listA .list-item {
                    background-color: #54b8fa;
                    color: #000000;
                }

                #sortable-listB .list-item {
                    background-color: #ff879e;
                    color: #000000;
                }

                #sortable-listC .list-item {
                    background-color: #66cc66;
                    color: #000000;
                }

                #sortable-listD .list-item {
                    background-color: #ffcc33;
                    color: #000000;
                }

                #placeholder.list-item {
                    background-color: #ffffff;
                    color: #777;
                }

</style>

    <div class="container"  style="padding-top:3%;" id="inicial">
<div class="row">
<div class="col-md-4">
    <div class="panel white-alpha-90">
        <div >
            <table>
                <tr>
                    <td>
                        <select id="genero" placeholder="Genero">
                            <option>Seleccione Genero</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Fecha Nacimiento:</h4>
                        <input id="datepicker" value="10/10/1998" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="kInput" type="hidden" placeholder="Enter a number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="primaryTextButton" class="k-primary">Continuar</button>
                    </td>
                </tr>
            </table>
            </div>

        </div>
  </div>
  </div>
        </div>
        <input id="edad" type="hidden" value="" >
        <input id="sexo" type="hidden" value="">

<div id="example" role="application" style="display: none;">
   
    <div class="demo-section k-content">
        <label id="clasificacion"></label>
        <h2>PATRIMONIO CULTURAL</h2>
        @*<label for="required">Patrimonios Culturales</label>*@
        <select id="required" multiple="multiple" data-placeholder="Select Patrimonios...">
            <option>Monumentos y Estatuas</option>
            <option>Iglesias y Catedrales</option>
            <option>Lugares Históricos</option>
            <option>Castillos</option>
            <option>Edificios de valor Arquitectónico</option>
            <option>Etnoturismo</option>            
        </select>                     
    </div>
    </div>

<div id="example2" class="container" style="display: none;" >
    <div class="demo-section k-content">
        <h2>SOL Y PLAYA</h2>
        @*<div class="demo-section hidden-on-narrow one-way wide">
                <div class="list-wrapper">
                    <ul id="sortable-listA">
                        <li class="list-item">Apples</li>
                        <li class="list-item">Grapefruits</li>
                        <li class="list-item">Bananas</li>
                    </ul>

                    <ul id="sortable-listB">
                        <li class="list-item">Cranberries</li>
                        <li class="list-item">Pineapples</li>
                        <li class="list-item">Strawberries</li>
                    </ul>
                </div>
            </div>*@

        <div class="demo-section hidden-on-narrow two-way wide">
            <div class="list-wrapper">
                <ul id="sortable-listC" style="min-height: 110px;">
                    <li class="list-item">Playas</li>
                    <li class="list-item">Islas</li>
                    <li class="list-item">Deportes Acuáticos</li>
                </ul>

                <ul id="sortable-listD" style="min-height: 110px;">
                    <li class="list-item">Buceo</li>
                    <li class="list-item">Surf, Windsurf, Kitesurf, remo</li>
                    <li class="list-item">Piscinas</li>
                    <li class="list-item">Alquiler Barcos y equipos</li>
                </ul>
            </div>
            <div class="responsive-message"></div>
        </div>
        </div>
    </div>

    @*<h4 style="margin-top: 2em;">Fecha Nacimiento</h4>
        <input id="monthpicker" value="November 2011"  />*@





    <script type="text/javascript">

        function placeholder(element) {
            return $("<li class='list-item' id='placeholder'>Drop Here!</li>");
        }

        $("#sortable-listA").kendoSortable({
            connectWith: "#sortable-listB",
            placeholder: placeholder
        });

        $("#sortable-listB").kendoSortable({
            placeholder: placeholder
        });

        $("#sortable-listC").kendoSortable({
            connectWith: "#sortable-listD",
            placeholder: placeholder
        });

        $("#sortable-listD").kendoSortable({
            connectWith: "#sortable-listC",
            placeholder: placeholder
        });



        // create ComboBox from select HTML element
        $("#primaryTextButton").kendoButton();
        $("#genero").kendoComboBox();

        $("#datepicker").kendoDatePicker();

        // create MultiSelect from select HTML element
        var required = $("#required").kendoMultiSelect().data("kendoMultiSelect");
        var optional = $("#optional").kendoMultiSelect({
            autoClose: false
        }).data("kendoMultiSelect");

        $("#get").click(function () {
            alert("Attendees:\n\nRequired: " + required.value() + "\nOptional: " + optional.value());
        });

        $("#primaryTextButton").click(function () {

            calcular_edad();

            var sex = $('#genero').val();
            if (sex == "Masculino") {
                validaGen = true;
                $('#sexo').val(0);
            } else
                if (sex == "Femenino") {
                    validaGen = true;
                    $('#sexo').val(1);
                } else {
                    alert("Favor Seleccionar Genero");
                }

            // $('#sexo').val(0);
            if (validaGen == true) {
                $('#inicial').hide();
                $("#example").show();
                $("#example2").show();
                run($('#kInput').val());
            }
            //alert($('#kInput').val());

        });


        function calcular_edad() {

            var date = kendo.parseDate($("#datepicker").val());
            var validaGen = false;

            var dia = date.getDate();
            var mes = date.getMonth();
            var ano = date.getFullYear();

            fecha_hoy = new Date();
            ahora_ano = fecha_hoy.getYear();
            ahora_mes = fecha_hoy.getMonth();
            ahora_dia = fecha_hoy.getDate();
            edad = (ahora_ano + 1900) - ano;

            if (ahora_mes < (mes - 1)) {
                edad--;
            }
            if (((mes - 1) == ahora_mes) && (ahora_dia < dia)) {
                edad--;
            }
            if (edad > 1900) {
                edad -= 1900;
            }

            alert("¡Tienes " + edad + " años!");

            $('#kInput').val(1);

            $('#edad').val(edad);



        }


        //$("#monthpicker").kendoDatePicker({
        //    // defines the start view
        //    start: "year",

        //    // defines when the calendar should return date
        //    depth: "year",

        //    // display month and year in the input
        //    format: "MMMM yyyy"
        //});

    </script>

    <!-- Script algoritmo de KNN clacificacion-->
    <script src="~/lib/jquery-3.1.0.min.js"></script>
    <script src="~/js/k-nearest.js"></script>
    <script src="~/js/init.js"></script>
